<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: White (2013-12-16 11:11)</string>
	<string>M6.1-1769-1</string>
	<string>M6.2-1861-1</string>
	<string>M6.5.2-2119-1</string>
	<string>M6.5.3-2151-2</string>
	<string>M8.0-5576-2</string>
	<string>G-r16-2E164</string>
	<string>M8.0-5576-2</string>
</array>
</plist>
